h3 {
    padding: 0px 0px 0px 10px;
    margin: 20px 0px 10px 0px;
}

.center-block {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h4 {
    margin: 10px 0px 10px 18px;
    font-family: "Arial Black", Gadget, sans-serif;
}

p {
    padding: 5px 0px 0px 17px;
}

h3 {
    padding: 0px 0px 0px 10px;
    margin: 20px 0px 10px 0px;
}

.center-block {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h4 {
    margin: 10px 0px 10px 18px;
}

p {
    padding: 5px 0px 0px 17px;
}

h3 {
    padding: 0px 0px 0px 10px;
    margin: 20px 0px 10px 0px;
}

.center-block {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h4 {
    margin: 10px 0px 10px 18px;
}

p {
    padding: 5px 0px 0px 17px;
}

h3 {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 10px 0px;
}

.center-block {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h4 {
    margin: 10px 0px 10px 18px;
}

p {
    padding: 5px 0px 0px 17px;
}

h3 {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 10px 0px;
}

.center-block {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h4 {
    margin: 10px 0px 10px 18px;
}

p {
    padding: 5px 0px 0px 17px;
}

h3 {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 10px 0px;
}

.center-block {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h4 {
    margin: 10px 0px 10px 18px;
}

p {
    padding: 5px 0px 0px 17px;
}

h3 {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 10px 0px;
}

.center-block {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h4 {
    margin: 10px 0px 10px 18px;
}

p {
    padding: 5px 0px 0px 17px;
}

h3 {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 10px 0px;
}

.center-block {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h4 {
    margin: 10px 0px 10px 18px;
}

.locked {
    font-size: 20px;
}

h3 > .strong {
    font-weight: 700;
}

.locked > .strong {
    font-weight: 700;
}

undefined