.locked {
    font-family: Impact, Charcoal, sans-serif;
}

.locked {
    font-family: Impact, Charcoal, sans-serif;
}

.locked {
    font-family: Impact, Charcoal, sans-serif;
}

.locked {
    font-family: Impact, Charcoal, sans-serif;
}

.locked {
    font-family: Impact, Charcoal, sans-serif;
}

p {
    padding: 6px 0px 0px 13px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
}

h3 {
    padding: 0px 0px 0px 11px;
    font-family: Roboto Condensed;
}

.btn-success {
    margin: 0px 0px 0px 0px;
    padding: 6px 12px 6px 0px;
    border-radius: 9px 9px 9px 9px;
    font-size: 30px;
}

.form-control {
    font-family: Impact, Charcoal, sans-serif;
}

.locked {
    font-family: Impact, Charcoal, sans-serif;
}

p > .font-style {
    font-family: Impact, Charcoal, sans-serif;
}

p {
    padding: 6px 0px 0px 13px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
}

h3 {
    padding: 0px 0px 0px 11px;
    font-family: Roboto Condensed;
}

.btn-success {
    margin: 0px 0px 0px 0px;
    padding: 6px 12px 6px 0px;
    border-radius: 9px 9px 9px 9px;
    font-size: 30px;
}

.form-control {
    font-family: Impact, Charcoal, sans-serif;
}

.locked {
    font-family: Impact, Charcoal, sans-serif;
}

p > .font-style {
    font-family: Impact, Charcoal, sans-serif;
}

p {
    padding: 6px 0px 0px 13px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
}

h3 {
    padding: 0px 0px 0px 11px;
    font-family: Impact, Charcoal, sans-serif;
}

.btn-success {
    margin: 0px 0px 0px 0px;
    padding: 6px 12px 6px 0px;
    border-radius: 9px 9px 9px 9px;
    font-size: 30px;
}

.form-control {
    font-family: Impact, Charcoal, sans-serif;
}

p {
    padding: 6px 0px 0px 13px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
}

h3 {
    padding: 0px 0px 0px 11px;
    font-family: Impact, Charcoal, sans-serif;
}

.btn-success {
    margin: 0px 0px 0px 0px;
    padding: 6px 12px 6px 0px;
    border-radius: 9px 9px 9px 9px;
}

p {
    padding: 6px 0px 0px 13px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
}

h3 {
    padding: 0px 0px 0px 11px;
    font-family: Impact, Charcoal, sans-serif;
}

.btn-success {
    margin: 0px 0px 0px 0px;
    padding: 6px 12px 6px 0px;
    border-radius: 9px 9px 9px 9px;
}

p {
    padding: 6px 0px 0px 13px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
}

h3 {
    padding: 0px 0px 0px 11px;
    font-family: Impact, Charcoal, sans-serif;
}

p {
    padding: 0px 0px 0px 0px;
}

p {
    padding: 0px 0px 0px 0px;
}

p {
    padding: 0px 0px 0px 0px;
}

p {
    padding: 4px 7px 0px 12px;
}

p {
    padding: 4px 7px 0px 12px;
}

undefined