<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}" dir="ltr">
<head>
    {{- partial "head.html" . -}}
    {{- partialCached "extend_head.html" . -}}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}

    {{ if .Site.Params.enableCookieConsent }}
    <script src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.0-rc.17/dist/cookieconsent.umd.js"></script>
    <script src="{{ `js/consent.js` | relURL }}"></script>
    {{ end }}
</body>
</html>