{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ (site.Params.schema.publisherType | default "Organization" | title) | jsonify }},
  "name": {{ site.Title | jsonify }},
  "url": {{ site.Home.Permalink | jsonify }},
  "description": {{ site.Params.description | plainify | truncate 180 | jsonify }},
  {{- if (eq site.Params.schema.publisherType "Person") }}
  "image": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify }},
  {{- else }}
  "logo": {
    "@type": "ImageObject",
    "url": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify }}
  },
  {{- end }}
  "sameAs": [
    {{- if site.Params.schema.sameAs }}
      {{ range $i, $e := site.Params.schema.sameAs }}{{ if $i }}, {{ end }}{{ $e | jsonify }}{{ end }}
    {{- else }}
      {{ range $i, $e := site.Params.SocialIcons }}{{ if $i }}, {{ end }}{{ $e.url | safeURL | jsonify }}{{ end }}
    {{- end }}
  ]
}
</script>
{{- else if (or .IsPage .IsSection) }}
{{/* BreadcrumbList */}}
{{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/") }}

{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}
    {{- $scratch.Add "path" (printf "%s/" $element) }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") }}
    {{- if (and $bc_pg (gt (len $element) 0)) }}
      {{- if $index }}, {{ end }}
      {
        "@type": "ListItem",
        "position": {{ add 1 $index }},
        "name": {{ $bc_pg.Title | jsonify }},
        "item": {{ $bc_pg.Permalink | jsonify }}
      }
    {{- end }}
  {{- end }}
  {{- /* self-page addition */ -}}
  {{- if (and (ge (len $bc_list) 1) (not (eq .Name "Home"))) }}
    {{- if (gt (len $bc_list) 0) }}, {{ end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 (len $bc_list) }},
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
  {{- end }}
  ]
}
</script>
{{- if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify | jsonify }},
  "description": {{ with .Description | plainify }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | jsonify }}{{ end }},
  "keywords": [
    {{- if .Params.keywords }}
      {{ delimit .Params.keywords "," | replaceRE `([^,]+)` `"$1"` }}
    {{- else if .Params.tags }}
      {{ delimit .Params.tags "," | replaceRE `([^,]+)` `"$1"` }}
    {{- end }}
  ],
  "wordCount": {{ .WordCount }},
  "inLanguage": {{ .Language.Lang | default "it" | jsonify }},
  "image": [
    {{- with .Params.image -}}
      {{ . | absURL | jsonify }}
    {{- else with .Params.cover -}}
      {{- with .image -}}
        {{ . | absURL | jsonify }}
      {{- else -}}
        {{ $.Site.BaseURL | printf "%simg/og-default.jpg" | jsonify }}
      {{- end -}}
    {{- else -}}
      {{ $.Site.BaseURL | printf "%simg/og-default.jpg" | jsonify }}
    {{- end -}}
  ],
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Params.author | default site.Author.name | default site.Title | jsonify }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "publisher": {
    "@type": {{ (site.Params.schema.publisherType | default "Organization" | title) | jsonify }},
    "name": {{ site.Title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ "logo.svg" | absURL | jsonify }},
      "width": 600,
      "height": 60
    }
  }
}
</script>
{{- end }}{{/* .IsPage end */}}
{{- end -}}